<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837759484127-13s6a8hn77l11dcpi4d044ft7lclqirc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837759484127-13s6a8hn77l11dcpi4d044ft7lclqirc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>837759484127-cq4lhm7nth42dc34clqa705rboc0352b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAsLYoOdnZ5Gb_zhjWlDhIzBz-XZXt797w</string>
	<key>GCM_SENDER_ID</key>
	<string>837759484127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.desikaraoke.singalong</string>
	<key>PROJECT_ID</key>
	<string>desi-karaoke</string>
	<key>STORAGE_BUCKET</key>
	<string>desi-karaoke.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837759484127:ios:165c6f4a5d6aa839b8a96a</string>
	<key>DATABASE_URL</key>
	<string>https://desi-karaoke.firebaseio.com</string>
</dict>
</plist>